.container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tile:hover {
    cursor: pointer;
}

.tile:hover .name {
    text-decoration: underline;
}

.badge {
    position: absolute;
    left: 15px;
    top: 15px;
}

.product-image {
    height: 60%;
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.footer .price {
    color: rgb(0, 80, 0);
}

img.star {
    height: 14px;
    width: 14px;
}
